/* CSS Document */
.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
 }
.images {
    display: block; 
    max-width: 100%;
    height: auto;
}
.header {
    border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-right:auto;
}
.nav-logo { 
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.nav-logo-accent{
     color: #2e2f42;
        }
.nav-list .link:hover .link:focus{
    color: #404bbf;
}
.nav-list {
    display: flex;
    gap: 40px;
    color: #404bbf;   
}
.link{
    padding: 24px 0; 
    position: relative;
   
}
.nav-list .link-active::after{
    content: '';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    display: block;
    width: 100%;
    position: absolute;
     left: 0;
     bottom: -1px;
     height: 4px;
     background-color: #404bbf;
     border-radius: 2px;
     transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav a,
.contact a {
    text-decoration: none;
}
.contact {
    font-style: normal;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 400; 
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
 .nav-list,  .contact-list, 
 .about-us-list, .team-list,  .item-portfolio {
    list-style-type: none;
 }

/*Main Section-1*/
.main-section {
    padding: 188px 0;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7) ), url("../images/people.jpg");
    width: 1440px;
    height: 600px;
    top: 72px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    
}
.main-title {
    color: #ffffff;
    line-height: 60px;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-variation-settings: "wdth" 100;
    max-width: 496px;
    margin: 0 auto 48px auto;
}
.main-box {
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.main-section .main-box:hover,
.main-section .main-box:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.main-title .main-box{
    margin-right: auto;
    margin-left: auto;
}

/*About Us Section-2*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about {
    padding: 120px 0;
}
.item-about {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.about-icon{
    background-color:  rgba(244, 244, 253, 1);
    width: 264px;
    height: 112px;
    opacity: 1;
    border-radius: 4px;
    border: 1px solid rgba(142, 143, 153, 1);
}
ul {
    padding-left: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*Team Section-3*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-title{
    display: flex;
    gap: 24px;
}
.team-list {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.name-text {
    padding: 32px 0;
    text-align: center;
}
.name-next {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.social-link{
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    margin: 0 4px;
    transition: background-color 250ms;
    display: flex;
    
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;    
    
}
.social-icon {
    fill: transparent;
    width: 16px;
    height: 16px;
    transition: stroke 250ms;
}
.about-us-list {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;

}
.text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
} 

/*Portfolio Section-5*/
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-icon {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.item-portfolio {
    flex-basis: calc((100% - 2 * 24px) / 3);
}
.portfolio-item-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

/*Footer Section-5*/
.footer {
    color: #4D5AE5;
    background-color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    padding: 100px 0;
}
.footer-accent{
    color:#F4F4FD;
}   
.footer-logo {
    color:#4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
